<h1 class="text-center mb-4">See our categories</h1>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Select a category</label>
  </div>
  <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="idSelected">
    <option selected>Choose...</option>
    <option *ngFor="let category of categories" [value]="category._id">{{ category.name }}</option>
  </select>
  <button class="btn btn-outline-primary ml-4" (click)="search()">Search</button>
</div>
<hr>
<div class="row mt-4" *ngIf="isLoaded">
  <div class="col-md-4 col-sm-12" *ngFor="let product of selected.ref_Product">
    <div class="card" (click)="detail(product._id)">
      <div class="image-container">
        <div class="product-image" [ngStyle]="{ 'background-image': 'url(' + product.file + ')'}"></div>
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ product.title }}</h5>
        <p class="card-text">{{ product.price | currency }} COP</p>
      </div>
    </div>
  </div>
</div>
